body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eeee;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-padding-top: 150px;
  /* Adjust this value to match the height of your sticky elements */
}

header,
main,
footer {
  flex-shrink: 0;
}

.header {
  text-align: left;
  background-color: #f2f2f2;
  padding: 20px;
}

.devborder {
  border: 1px solid red;
}

.navbar ul {
  display: flex;
  width: 100%;
  justify-content: left;
  list-style: none;
  padding: 0;
  background-color: #b2afaf;
}

.navbar li {
  margin: 0 15px;
}

.divider {
  height: 2px;
  background-color: #ddd;
  margin: 30px auto;
  width: 90%;
}